[submodule "src/embed"]
	path = src/embed
	url = https://github.com/peersuasive/luce_embeddable.git
[submodule "luce"]
	path = luce
	url = https://github.com/peersuasive/luce.git
[submodule "3rd/libarchive"]
	path = 3rd/libarchive
	url = https://github.com/libarchive/libarchive.git
